@import url("https://fonts.googleapis.com/css?family=Roboto");
/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: Roboto;
  padding: 50px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

figure {
  margin-top: 30px;
}

.movie {
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: stretch;
}

.movie__hero {
  flex: 0 0 45%;
  background: #fff;
}

.movie__img {
  height: 100%;
  width: 50%;
  display: block;
  object-fit: contain;
}

.movie__content {
  flex: 1;
  background: white;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
}

.movie__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie__heading {
  font-size: 20px;
  margin-right: auto;
}

.movie__genre {
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  padding: 2px 7px;
  border-radius: 100px;
}

.movie__genre--1 {
  background-color: #67b26f;
}

.delete {
  background-color: #cf142b;
  margin-left: 20px;
  font-size: 15px;
}

.delete a {
  color: #fff;
  text-decoration: none;
}

.movie__description {
  font-size: 14px;
}

.movie__details {
  display: flex;
  margin-top: auto;
}

.movie__detail {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 20px;
  margin-right: 3px;
}

#add {
  margin-top: 30px;
}
